# Ignore all files in input directory
input/*
# But don't ignore the directory itself
!input/

# Ignore all files in output directory
output/*
# But don't ignore the directory itself
!output/

# Keep a .gitkeep file in the directories
!input/.gitkeep
!output/.gitkeep


# Ignore Python cache files
__pycache__/
*.pyc
*.pyo
*.pyd

# Ignore virtual environment directory
venv/
.env/

# Ignore Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Ignore system files
.DS_Store
Thumbs.db

# Ignore logs
*.log

# Ignore environment configuration files
.env
